<!DOCTYPE html>
<html class="" lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="author" content="IONIC Research Labs, a division of TSG">
    <title>IONIC Realtime Feeds Component</title>
    <script src="../../config.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="../../Messaging.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="../../ScriptLoader.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="../../Database.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="../../Geocoder.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="../../JSONP.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="FeedSource.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="RSS.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="TwitterTimeline.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="Ticker.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="index.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <link href="index.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8"></link>
  </head>
  <body>
    <div class="ticker-refresh"><a href="#" onclick="refreshTickerData()">&#8635;</a></div>
    <div class="ticker-wrap">
      <div class="ticker" id="ticker">
        <div class="ticker-item">...</div><div class="ticker-refresh">
      </div>
    </div>
  </body>
</html>
