<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="author" content="IONIC Research Labs, a division of TSG">
  <title>IONIC Clock Component</title>
  <script src="index.js" type="text/javascript" language="javascript" charset="utf-8">
  </script>
  <link href="index.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
  </link>
</head>
<body>
  <div id="target-time-header">TORONTO TIME</div>
  <div id="target-clock-container">--:--:--</div>
  <div id="target-date-container"></div>
  <div id="local-time-header">LOCAL TIME</div>
  <div id="local-clock-container">--:--:--</div>
  <div id="local-date-container"></div>
</body>
</html>
