@import "./fonts/fontawesome_5.14/css/all.css";

/* latin-ext */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Plex Mono Medium'), local('IBMPlexMono-Medium'), url(./fonts/IBM_Plex_Mono_Medium_500_Latin_Ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Plex Mono Medium'), local('IBMPlexMono-Medium'), url(./fonts/IBM_Plex_Mono_Medium_500_Latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: #FFFF;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1em;
}

.logo {
  width: 100%;
  display: block;
}

.header-image {
  width: 32vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-main {
  font-size: 3vw;
  width: 100%;
  text-align: center;
  display:block;
}

.header-city {
  font-size: 2vw;
  width: 100%;
  text-align: center;
  display:block;
}

.header-sub {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.content {
  font-size: 1em;
  word-wrap: break-word;
}

.item {
  font-weight: bold;
  margin-left: 25px;
}

span {
  display: inline-block;
}

a {
  background-color: black;
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
  transition-duration: 0.5s;
}

.contact-info {
  line-height: 0px;
  font-size: 0.8em;
  font-style: italic;
  width: 100%;
  text-align: center;
}

.repo-link {
  line-height: 0px;
  font-size: 0.8em;
  font-style: italic;
  width: 100%;
  text-align: center;
}

.refresh-rate {
  font-size:0.6em;
  margin-left:0.8em;
}
