@import "../../index.css";

.list {
  background-color: black;
}

.list-item {
  width: 100%;
  word-wrap: break-word;
  font-size: 0.75em;
  background-image: linear-gradient(#303030, #000000);
  display: inline-block;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  font-size: 12px;
  padding-left: 5px;
}

details {
  display: inline-block;
  text-align: left;
  width: 100%%;
}

summary {
  width: 100%%;
}

select{
  width: 100%;
  font-size: 10px;
  padding: 10px 0px;
  font-weight: bold;
}

select > option {
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}

select > option:hover {
  background-color: white;
  color: black;
}

*:disabled {
  cursor: not-allowed;
}

button:disabled {
  color: #A0A0A0;
}

.options {
  position: fixed;
  top: 0px;
  margin-left: 15px;
}

#filters {
  margin-top: 20px;
}

#filters > #header {
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.filters-container {
  font-size: 12px;
}

#typeOptions {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#typeOptions {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#filters > #header {
  font-size: 12px;
}

summary {
  cursor: zoom-in;
}

details[open] > summary {
  cursor: zoom-out;
}

.middle {
  width:100%;
  text-align: center;
}

a {
  color:black;
  text-decoration: none;
  background-color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}

a:hover {
  color:white;
  background-color: black;
  text-decoration: underline;
}

hr {
  border-top: 1px dotted #151515;
  margin: 0;
  padding: 0;
}

.extra-incident-properties {
  display:inline-block;
  text-align: left;
  font-size: 14px;
  margin-left: 0.5em;
}

.distance-container {
  width: 100%;
  display: inline-block;
}

.distance-container > input {
  display: inline-block;
  width: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.distance-container > #distance {
  text-align: right;
}

.coordinates-container {
  width: 100%;
  display: inline-block;
}

.coordinates-container > label {
  display: inline-block;
  width: 10%;
}

.coordinates-container > input {
  display: inline-block;
  width: 60%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.coordinates-container > button {
  display: inline-block;
  width: 90%;
  font-size: 1.25vw;
  height: 60px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#refreshDistanceFilter {
  height: 40px;
  font-size: 1.1vw;
}

@keyframes stroke-color-pulse {
  from {
    -webkit-text-stroke-color: white;
  }
  to {
    -webkit-text-stroke-color: black;
  }
}

.extra-details {
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  animation-duration: 1.5s;
  animation-name: stroke-color-pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.incident-times {
  display:inline-block;
  color: #A0A0A0;
  text-align: left;
  word-wrap: break-word;
  padding-bottom: 10px;
  font-size: 10px;
}

#options > #statusDisplay > div {
  font-size: 11px;
  display: inline-block;
}
