<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="author" content="IONIC Research Labs, a division of TSG">
  <title>IONIC Incident List & Search Component</title>
  <script src="../../config.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <script src="../../Messaging.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <script src="../../Database.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <script src="../../Geocoder.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <script src="index.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <link href="index.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
  </link>
</head>
<body>
  <div class="col-20 options-spacer">&nbsp;</div>
  <div class="col-20 options" id="options">
    <div id="statusDisplay">
      <a id="status"></a>
      <span>Progress: </span><span id="progress">0%</span><br/>
      <span>Showing: </span><span id="displaying">0</span><br/>
      <span>Total:</span><span id="total">0</span>
    </div>
    <div id="filters">
      <a id="filters"></a>
      <hr>
      <div id="header"><i class="fa fa-filter"></i>&nbsp;FILTERS</div>
      <hr>
      <div id="container" class="filters-container">
        <input type="radio" value="none" name="filterOption" disabled="true" checked><label for="details">&nbsp;All</label><br>
        <input type="radio" value="details" name="filterOption" disabled="true"><label for="details">&nbsp;Extended Details</label><br>
        <input type="radio" value="type" name="filterOption" disabled="true"><label for="type">&nbsp;Type: </label><br/>
        <select id="typeOptions" value="type" group="filterOption" disabled></select><br/>
        <input type="radio" id="distance" value="distance" name="filterOption" disabled="true"><label for="distance">&nbsp;Within: </label><br/>
        <div class="distance-container">
          <input type="number" id="distance" name="distanceOption" step="0.25" value="1.25"> KM of ...<br/>
        </div>
        <div class="coordinates-container">
          <label for="lon">LON:</label>
          <input type="number" id="lon" name="lon" value="-79.3832">
          <br/>
          <label for="lat">LAT:</label>
          <input type="number" id="lat" name="lat" value="43.6532">
          <button id="getMapCoords" onclick="getMapClickCoordinates();">
            <i class="fa fa-map-pin"></i><br/>
            UPDATE COORDINATES
            <br/>
            FROM MAP CLICK
          </button>
          <button id="refreshDistanceFilter" onclick="refreshFilter('distance');">
            <i class="fa fa-redo"></i><br/>
            REFRESH LIST
          </button>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-80 list">
    <a id="list"></a>
    <div id="list-container"></div>
  </div>
</body>
</html>
