<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="author" content="IONIC Research Labs, a division of TSG">
  <title>IONIC Realtime Cameras Component</title>
  <script src="../../config.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <script src="../../Messaging.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <script src="index.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <link href="index.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
  </link>
</head>
<body>
  <hr>
  <div id="header"><i class="fa fa-camera"></i>&nbsp;LIVE CAMERAS</div>
  <hr>
  <div id="camerasList"></div>
  <div id="camerasListOptions">
    <button id="goToCameraButton" onclick="zoomMapToCamera('#camerasList select');"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;GO TO SELECTED CAMERA</button>
  </div>
</body>
</html>
