<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="author" content="IONIC Research Labs, a division of TSG">
  <title>IONIC Logo Component</title>
  <script src="index.js" type="text/javascript" language="javascript" charset="utf-8">
  </script>
  <link href="index.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
  </link>
</head>
<body>
  <div id="logo-container">
    <img src="ionic_logo.svg" height="100%" />
  </div>
  <div id="sub-logo-container">416</div>
</body>
</html>
