@import "../../index.css";

@font-face {
  font-family: "TorontoSubwayW01-Regular";
  src: url("../../fonts/Toronto Subway Regular.woff2") format("woff2");
}

#logo-container {
  width: 100%;
  height: 215px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

#sub-logo-container{
  width: 100%;
  height: 40px;
  text-align: center;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
}

#feature-container {
  font-family: "TorontoSubwayW01-Regular", monospace;
  background-image: url("toronto_subway_wall.jpg");
  background-size: cover;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #274490;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 25px #274490;
  border-radius: 8px;
}
