<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="author" content="IONIC Research Labs, a division of TSG">
    <link rel="stylesheet" href="./openlayers/v6.4.3/ol.css" type="text/css">
    <link rel="stylesheet" href="./index.css" type="text/css">
    <script src="../../config.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="../../Messaging.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="./openlayers/v6.4.3/ol.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="../../Geocoder.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script src="index.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    <title>IONIC Dynamic Maps component</title>
  </head>
  <body>
    <div id="map" class="map"></div>
  </body>
</html>
